mcumgr -c usb2 image list
mcumgr -c usb2 image upload signed-++VER++.bin
mcumgr -c usb2 image list
mcumgr -c usb2 image test ++HASH++
mcumgr -c usb2 reset
mcumgr -c usb2 image list
mcumgr -c usb2 image confirm ++HASH++

Note: mcumgr must be in $PATH, or use a complete path to execute it.


