/*
 * Copyright (c) 2017 Fenix Engineering Solutions
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f411Xe.dtsi>
#include <st/f4/stm32f411v(c-e)tx-pinctrl.dtsi>

&flash0 {
	reg = <0x08000000 DT_SIZE_K(512)>;
	partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;
/**************************************
are these needed??? also, second number is a size, ending address....
		boot_partition: partition@0 {
			  label = "mcuboot";
			  reg = <0x00000000 0x0000C000>; 
			  read-only;
		};
		sector_3_partition: partition@C000 {
			  label = "sector3";
			  reg = <0x0000C000 0x00010000>; 
		};
		storage_partition: partition@10000 {
			  label = "storage";
			  reg = <0x00010000 0x000200000>; 
		};
*******************************************/
		boot_partition: partition@0 {
			  label = "mcuboot";
			  reg = <0x00000000 DT_SIZE_K(48)>;
			  read-only;
		};
		user_partition: partition@C000 {
			label = "user";
			reg = <0x0000C000 DT_SIZE_K(80)>;
		};
		/* image 0 & 1 are for apps */
		slot0_partition: partition@20000 {
			  label = "image-0";
			  reg = <0x00020000 DT_SIZE_K(128)>;
		};
		slot1_partition: partition@40000 {
			  label = "image-1";
			  reg = <0x00040000 DT_SIZE_K(128)>;
		};
		scratch_partition: partition@60000 {
			  label = "image-scratch";
			  reg = <0x00060000 DT_SIZE_K(128)>;
		}; 
	};
};

/ {
	model = "SMRK Labs SMRK100G board";
	compatible = "st,stm32f411e-disco";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,uart-mcumgr = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		orange_led_3: led_3 {
			gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;
			label = "User LD3";
		};
		green_led_4: led_4 {
			gpios = <&gpiod 12 GPIO_ACTIVE_HIGH>;
			label = "User LD4";
		};
		red_led_5: led_5 {
			gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
			label = "User LD5";
		};
		blue_led_6: led_6 {
			gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
			label = "User LD6";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		green_pwm_led: green_pwm_led {
			pwms = <&pwm4 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		orange_pwm_led: orange_pwm_led {
			pwms = <&pwm4 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		red_pwm_led: red_pwm_led {
			pwms = <&pwm4 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		blue_pwm_led: blue_pwm_led {
			pwms = <&pwm4 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};

	i2cmux {
	       compatible = "gpio-keys";
	       RstMux: reset_mux {
	       	       gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
		       label = "RstMux 0";
		};
	};

	power_control {
		compatible = "gpio-keys";
		EN_0R85: en_0r85 {
			gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
			label = "En0r85";
		};
		PG_0R85: pg_0r85 {
			gpios = <&gpioc 11 GPIO_ACTIVE_HIGH>;
			label = "PG0r85";
		};
		EN_1R2_DDR: en_1r2_ddr {
			gpios = <&gpioa 9 (GPIO_ACTIVE_HIGH | GPIO_PUSH_PULL | GPIO_PULL_DOWN)>;
			label = "En1r2_ddr";
		};
		PG_1R2_DDR: pg_1r2_ddr {
			gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
			label = "PG1r2_ddr";
		};
		EN_0R6: en_0r6 {
			gpios = <&gpioa 10  (GPIO_ACTIVE_HIGH)>;
			label = "En0r6_ddr";
		};
		PG_0R6: pg_0r6 {
			gpios = <&gpioc 10 GPIO_ACTIVE_HIGH>;
			label = "PG0r6";
		};

		EN_1R2_MGT: en_1r2_mgt {
			gpios = <&gpioa 11 (GPIO_ACTIVE_HIGH | GPIO_PUSH_PULL | GPIO_PULL_DOWN)>;
			label = "En1r2_mgt";
		};
		PG_1R2_MGT: pg_1r2_mgt {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "PG1r2_mgt";
		};

		PG_1R8: pg_1r8 {
			gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
			label = "PG1r8";
		};

		PG_2R5: pg_2r5 {
		gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
			label = "PG2r5";
		};

		PG_0R9: pg_0r9 {
		gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "PG0r9";
		};

		PG_1R0: pg_1r0 {
		gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
			label = "PG1r0";
		};


		EN_3R3: en_3r3 {
			gpios = <&gpioa 12 (GPIO_ACTIVE_HIGH | GPIO_PUSH_PULL | GPIO_PULL_DOWN)>;
			label = "En3r3";
		};

	};

	cpu_control {
		compatible = "gpio-keys";
		ZYNQ_PS_POR: zynq_ps_por {
			gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
			label = "ZynqPsPor";
		};
		ZYNQ_PS_SRST: zynq_ps_srst {
			gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
			label = "ZynqPsSrst";
		};
		ZYNQ_PS_PROG: zynq_ps_prog {
			gpios = <&gpioc 1 GPIO_ACTIVE_HIGH>;
			label = "ZynqPsProg";
		};
		QSFP_RESETL: qsfp_resetl {
			gpios = <&gpiob 0 (GPIO_ACTIVE_LOW | GPIO_PUSH_PULL | GPIO_PULL_UP)>;
			label = "QsfpResetl";
		};
		QSFP_LPMODE: qsfp_lpmode {
			gpios = <&gpiob 4 (GPIO_ACTIVE_LOW | GPIO_PUSH_PULL | GPIO_PULL_UP)>;
			label = "QsfpLpmode";
		};
		ZYNQ_PS_INIT: zynq_ps_init {
			gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;
			label = "ZynqPsInit";
		};
		ZYNQ_PS_DONE_B: zynq_ps_done_b {
			gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
			label = "ZynqPsDoneB";
		};
	};
	aliases {
		led0 = &orange_led_3;
		led1 = &green_led_4;
		led2 = &red_led_5;
		led3 = &blue_led_6;
		pwm-led0 = &green_pwm_led;
		pwm-led1 = &orange_pwm_led;
		pwm-led2 = &red_pwm_led;
		pwm-led3 = &blue_pwm_led;
		rstmux = &RstMux;
		en-3r3 = &EN_3R3;
		en-0r85 = &EN_0R85;
		pg-0r85 = &PG_0R85;
		en-1r2-ddr = &EN_1R2_DDR;
		pg-1r2-ddr = &PG_1R2_DDR;
		en-0r6 = &EN_0R6;
		pg-0r6 = &PG_0R6;
		en-1r2-mgt = &EN_1R2_MGT;
		pg-1r2-mgt = &PG_1R2_MGT;
		pg-1r8 = &PG_1R8;
		pg-2r5 = &PG_2R5;
		pg-0r9 = &PG_0R9;
		pg-1r0 = &PG_1R0;
		zynq-ps-por = &ZYNQ_PS_POR;
		zynq-ps-srst = &ZYNQ_PS_SRST;
		zynq-ps-prog = &ZYNQ_PS_PROG;
		qsfp-resetl = &QSFP_RESETL;
		qsfp-lpmode = &QSFP_LPMODE;
		zynq-ps-init = &ZYNQ_PS_INIT;
		zynq-ps-done-b = &ZYNQ_PS_DONE_B;
		/* 		zephyr-uart_mcumgr = &usart2; */
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <4>;
	mul-n = <96>;
	div-p = <2>;
	div-q = <4>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(96)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&timers4 {
	st,prescaler = <10000>;
	status = "okay";

	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch1_pd12
			     &tim4_ch2_pd13
			     &tim4_ch3_pd14
			     &tim4_ch4_pd15>;
		pinctrl-names = "default";
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&rtc {
	status = "okay";
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};
